
html{
    background-color: #002233;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.btn-card{
    margin-top: 1.5rem;
    background-color: rgb(52, 52, 165);
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    width: 70%;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 1s;
    &:hover{
        background-color: rgb(107, 10, 107);
        transition: 1s;
    }
}

.btn-principal{
    text-decoration: none;
    background-color: rgb(55, 19, 185);
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    max-width: 25rem;
    transition: 1s;
    border: none;
    cursor: pointer;
        &:hover{
            background-color: purple;
            transition: 1s;
        }
}

.Formulario-Figura{
    width: 50rem;
    margin: 5rem auto;
    background-color:rgb(73, 77, 99);
    color: black;
    height: 25rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5rem;

    h2{
        font-size: 2rem;
        color: white;
    }

    p{
        font-size: 1.2rem;
        color: white;
    }
}

.Content-card{
    h1{
        font-size: 4rem;
        text-align: center;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seleccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;

    border: 1px solid white;
    padding: 1rem;
    border-radius: 1.5rem;

    h2{
        font-size: 2rem;
    }

    div{
        display: flex;
        gap: 1rem;

        button{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}

//Header content
.header{

    background-image: url('../img/Header.svg');
    background-size: cover;
    height: 70rem;
    background-repeat: no-repeat;

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
       

        div{
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            font-size: 2rem;

            a{
                color: white;
                text-decoration: none;
            }
        }

        h1{
            color: yellow;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .header-content{
        max-width: 80%;
        margin: 5rem auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-size: 2rem;
    }
}

//Mensaje inicial
.message{
    text-align: center;
    font-size: 2rem;
}

//Figuras geometricas

#Figures-Circle{
    background-image: url('../img/circle.svg');
    background-size: cover;
    height: 80rem;
    margin-bottom: 15rem;
    
}

#Figures-Square{
    background-image: url('../img/Cuadrado.svg');
    background-size: cover;
    background-position: center;
    height: 80rem;
    margin-bottom: 15rem;

}

#Figures-Triangle{
    background-image: url('../img/Triangulo.svg');
    background-size: cover;
    background-position: center center;
    height: 80rem;
    margin-bottom: 15rem;
}

//General Calculator
#General-Calculator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 0 auto ;

    text-align: center;
}