
html{
    background-color: #002233;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}


//Header content
.header{

    background-image: url('../img/Header.svg');
    background-size: cover;
    height: 70rem;
    background-repeat: no-repeat;

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
       

        div{
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            font-size: 2rem;

            a{
                color: white;
                text-decoration: none;
            }
        }

        h1{
            color: yellow;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .header-content{
        max-width: 80%;
        margin: 5rem auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-size: 2rem;

        

        a{
            text-decoration: none;
            background-color: blue;
            color: white;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 1.5rem;
            max-width: 25rem;
            transition: 1s;
            &:hover{
                background-color: purple;
                transition: 1s;
            }
        }

        
    }
}

//Figuras geometricas

.Figures{
    background-image: url('../img/circle.svg');
    background-position: center center;
    margin-top: -15rem;
    height: 50rem;

    #circulo{
        h1{
            font-size: 4rem;
            text-align: center;
        }
    }
}